
/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

:root {
    --dark: #313638;
    --grey: #E0DFD5;
    --white: #E8E9EB;
    --light: #E4B363;
    --primary: #EF6461;
  

}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    background-color: var(--dark);
}

.nav-bar {
    display: flex;
    flex: 1;
    color: var(--white);
    background-color: var(--primary);
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}   

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 100vh;
    background-color: var(--dark);
}

body {
    min-height: 800px;
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    color: #333;
}

.about-holder {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: 100px;
    background-color: #ffffff0f;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    object-fit: cover;  
  }

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.footer-copyright {
    font-size: 0.875rem;
    text-align: center;
    font-style: italic;
}

.footer-social-media {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 0 20px;
    gap: 10px;
}