
/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    background-color: #414141;
}

/* take the time to re-parent the header to reflect a more usable hierarcy */

header {
    display: flex;
    align-items: center; 
    padding: 20px;
    margin: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /* outline: 2px solid red;  */
}

.header-text {
    flex: 0 1 auto;
    text-align: center;
}

.hamburger {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  margin-left: auto;
}

.hamburger:hover {
  color: #ffffff9f;
  transition: color 0.3s linear;
  transform: translateY(-2px);
}

#menu-toggle {
  display: none;
}

.menu-container {
  position: relative;
  width: 200px;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 2;
  display: none;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px;
  background-color: #ffffff2f;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.menu a {
  background: #ffffff1f;
  margin: 0.3rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.2s, transform 0.2s;
  overflow: visible;
}

.menu a:last-child {
  margin-bottom: 0.5rem;
}

#menu-toggle:checked + .hamburger + .menu {
  display: flex;
}

.menu a:hover {
  background: linear-gradient(to right, #6e6e6e 50%, #3f3f3f 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease, color 0.3s linear, transform 0.2s;
  transform: translateY(-2px);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 100vh;
    background-color: #414141;
    color: #333;
}

body {
    min-height: 800px;
    margin: 0;
    padding: 0;
    background-color: #414141;
    color: #333;
}

section {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: 100px;
    background-color: #ffffff0f;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    object-fit: cover;  
  }

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.footer-copyright {
    font-size: 0.875rem;
    text-align: center;
    font-style: italic;
}

.footer-social-media {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 0 20px;
    gap: 10px;
}